webserv
srcs/*/*.o

libft/libft.a
libft/*/*.o

objs
objs/*.o
objs/*/*.o

a.out
client

*.dSYM

test_us/root
test_us/client
test_us/php_bin
test_us/cgi_tester

YoupiBanane/put_here/*

.vscode
*/.vscode
*/*/.vscode
*/*/*/.vscode